
/* Estilos para el botón "Ver fotos" */
.region_top_pics {
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    color: white;
    padding: 5px 12px 6px 12px;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    border-radius: 20px;
    -webkit-transition: 500ms;
    transition: 500ms;/* Transición suave al cambiar la transformación */

}

/* Estilos para el botón "Ve fotos" al pasar el cursor */
.region_top_pics:hover {
    transform: scale(1.1); /* Escalar el botón al pasar el cursor */
}
/* Estilos para el fondo de la sección "Región Norte" */
.region_top{
    background-color: rgba(169, 76, 30, 0.7);
}

.region_top {
    background-image: url(./Norte1.png); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar imagen para cubrir completamente */
    font-family: "Roboto", Helvetica, "Segoe UI", sans-serif;
    z-index: 1;
    text-align: center; /* Alinear texto al centro */
    position: relative; 
    padding: 100px 30px 160px 30px;
    color: white;
}
.region_top::before {
    content: ""; /* Crear un pseudo-elemento antes del contenido */
    position: absolute; /* Posicionar de manera absoluta dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 76, 30, 0.6); /* Fondo con color transparente (ajustar la opacidad aquí) */
    z-index: -1; /* Colocar detrás del contenido principal */
}


.region_top_title{
    color: white;
    font-family: "Roboto Slab", Helvetica, "Segoe UI", sans-serif;
    font-size: 3.250em;
    font-weight: 14;
    letter-spacing: -0.03em;
    margin: 15px 0 10px 0;
    text-align: center
}

.region_top_title strong {
    font-weight: 700
}

.region_top_text {
    max-width: 800px;
    margin: 0 auto
}

.region_top_text p {
    color: white;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.5em
}


.region {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center; /* Centrar los elementos dentro de la cuadrícula */
    align-items: center; /* Centrar verticalmente los elementos dentro de la cuadrícula */
    padding-top: 40px;
    background: rgb(230, 230, 230);    

}

.region_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;  
}
.region_item:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }

.region_item_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    box-shadow: 10px 35px 30px 0px rgba(0, 0, 0, 0.2);
}

.region_item img {
    width: 100%; /* Utilizar el ancho completo del contenedor */
    max-width: 400px; /* Establecer un ancho máximo para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    object-fit: cover;
    border-radius: 0px;
    transition: transform 0.1s ease;

}
 

.region_item h2 {
    margin-top: 10px;
    font-size: 1.3em;
    color: black;
    font-family: "Roboto Slab", Helvetica, "Segoe UI", sans-serif;
    transition: transform 0.1s ease;
}

.region_item:hover h2{
    transform: scale(1.1);
}

.region_item strong {
    font-weight: bold;
    text-align: center; /* Centrar el texto <strong> */
}

#cabrito, #humita {
    margin-left: auto;
    margin-right: auto;
}

#cabrito1, #humita1 {
    margin-left: auto;
    margin-right: auto;
}

/*-------------------- MODAL -----------------------*/

.modal {
    font-family: "Roboto Slab", Helvetica, "Segoe UI", sans-serif;
    display: none;
    position: fixed;
    z-index: 1000;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 300%; /* Ancho del modal */
    max-width: auto; /* Ancho máximo del modal */
    height: 0vh; /* Altura del modal */
    float: inline-end;
}

#modalCabrito{
    margin-top: 100px;
    margin-left: 80%;
}

#modalEmpanadas{
    padding-top: 70px;
    margin-right: 260%;
}

#modalHumita{
    margin-left: 80%;
    bottom: 630px;
}

#modalLocro{
margin-right: 270%;
bottom: 580px;
}


.modal-content {
    color: white;
    font-size: 0.9em;
    margin:15% auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px;
    position: relative;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(0, 0, 0));
    border: none;
}

.modal-content h2{
    color: white;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
    position: absolute;
}

/* Mostrar el modal cuando el div es el target */
.modal:target {
    display: block;
}

.modal-content ul{
    list-style: none;
    padding: 10;
}

.modal-content p{
    text-align: left;
    margin-top: 10%;
    font-weight: bold;
    padding: 0px 0px 0px 30px;
    margin-bottom: 0px;
}

.modal_receta {
    width: 60%; /* Ancho del 60% para la preparación */
    float: left; /* Alinear a la izquierda */
    list-style: none;
    text-align: left;
    font-size:0.9em;
    margin-bottom: 100px;

}
.modal_receta li{
 margin-bottom: 15px;
}

    
/* Estilos para la sección de ingredientes */
.modal_ingredientes {
    width: 30%; /* Ancho del 40% para los ingredientes */
    float: right; /* Alinear a la derecha */
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 20px 0 20px 0 ; /* Redondear las esquinas superiores */
    padding: 10px;
    background-color: #fff;
    box-shadow:
    -4px 0 4px rgba(0, 0, 0, 0.1), /* Sombra en el lado izquierdo */
    0 4px 4px rgba(0, 0, 0, 0.1); /* Sombra en el borde inferior */   
    background-color: rgba(39, 39, 39, 0.5);
    text-align: left;
    list-style: none;
    margin-top: 10px;
    font-size:0.9em;
    height: 300px;
    line-height: 1.5;
    
}

/* Estilos para el contenedor del lugar */
.modal_lugar {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f0f0f0;
  padding: 10px;
  width: 97.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: black;

}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none; /* Mantener el subrayado desactivado al pasar el cursor */
    color: #0056b3; /

}

.estrellas img {
    width: 60px; /* Ancho deseado de la imagen de la estrella (ajústalo según sea necesario) */
    height: auto; /* Altura automática para mantener la proporción de la imagen */
    vertical-align: bottom; /* Alinear verticalmente con el texto */
  }
  
  .estrellas .puntaje {
    display: inline-block; /* Mostrar como bloque en línea para ocupar solo el espacio necesario */
    margin-left: 10px; /* Espacio a la izquierda del puntaje */
    font-weight: bold; /* Hacer el texto en negrita */
    font-size: 3em;
    color: rgb(247, 182, 18); /* Cambiar el color del texto del puntaje a rgba(226,198,125,1) */
  }
/* Estilos para el botón de cerrar */
.cerrar {
    color: white;
    text-decoration: none;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
